* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgb(64, 99, 180);
}
h1{
    font-size: 40px;
    font-size: bold;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    position: fixed;
    display: flex;
    margin-top: 200px;
    margin-left: 190px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 270px;
    height: 340px;
    margin: 10px;
    border-radius: 15px;
}

.card-image {
    background-color: aqua;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0 ;

}

.twitter {
    background-image: url(images/twitter.gif);
}

.github {
    background-image: url(images/octocat.gif);
}

.linkedin {
    background-image: url(images/linkedin.gif);
}

.instagram {
    background-image: url(images/instagram.gif);
}
.card p {
    padding: 10px;
}
.card h2{
    padding: 10px;

}

a{
    text-decoration: none;
    color: inherit ;
}

.card:hover{
    background-color: rgb(87, 108, 114);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all ls ease;
}


